<h2>Event details</h2>
<div class="container">
    <div>
      <h3><%= title %></h3>
      <p><%= description %></p>
    </div>
    <% if (status !== 'owner') { %>
      <% if (status === 'not logged in') { %>
        <form action="/auth/login" method="GET" >
          <button class="btn submit">Login to attend</button>
        </form>  
      <% } else if (status === 'not attending') { %>
        <form action="/events/<%= id %>" method="POST" >
          <button class="btn submit">Attend</button>
        </form>  
      <% } else if (status === 'attending') { %>
        <form action="/events/<%= id %>" method="POST" >
          <button class="btn submit">Unattend</button>
        </form>  
      <% } %>
    <% } %>
    
 
    <a href="/events">back</a>
</div>