<h2>Event list</h2>
<a href="/profile/my-events">My profile</a>
<div class="container">
  <% results.forEach((event) => { %>
    <div>
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
      <a href="/events/<%= event._id%>">View details</a>
    </div>
  <% }) %>
</div>