<h2>Event list</h2>
<div class="container">
  <% results.forEach((event) => { %>
    <% if (event.active) { %>
    <div>
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
      <a href="/events/<%= event._id%>">View details</a>
    </div>
    <% } %>
  <% }) %>
</div>