<h2>My events</h2>
<div class="container">
  <% events.forEach((event) => { %>
    <div>
      <% if (event.active) { %>
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
      <a href="/events/<%= event._id%>">View details</a>
      <form action="/profile/my-events/<%= event._id%>" method="post">
        <button>Delete event</button>
      </form>
      <% } %>
    </div>
  <% }) %>
</div>
<a href="/events">back</a>
<form action="/events/new" method="get">
  <button>Create new event</button>
</form>