<div class="title-container">
    <div>  
      <h2>My events</h2>
    </div>
    <div>
      <a href="/events/new" class='btn-main'>Create new event</a>
    </div>
</div>

  <% events.forEach((event) => { %>
    <% if (event.active) { %>
    <div class="event-container">
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
      <div class="btn-container">
        <form action="/profile/my-events/<%= event._id%>" method="post">
          <button class="btn-delete">Delete event</button>
        </form>
        <a href="/events/<%= event._id%>" class="btn-main">View details</a>
      </div>
    </div>
    <% } %>
  <% }) %>