<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Our app</title>
</head>

<body>
	<header>
		<div class="header-container">
			<div><p>Logo</p></div>
			<div>
				<% if (!user) { %>
					<a href="/auth/signup">Signin</a>
					<a href="/auth/login">Login</a>
				<% } else { %>
					<a href="/profile/my-events">My events</a>
				<% }%>
			</div>
		</div>
	</header>
	<%- body%>
	<footer>
		<% if (user) { %>
		<form action="/auth/logout" method="post">
			<button>Logout</button>
		</form>
	<% } %>
	</footer>
</body>
</html>