/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* ---- typography ---- */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #F6F7F8;
  height: 100%
}

a {
  color: #00B7FF;
}

h2 {
  color: #2E3E48;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  margin-top: 0px;
}

.event-attend-details p {
  color: gray;
  margin-bottom: 0px;
}

.event-date {
  color: gray;
  margin-bottom: 10px;
}



/* ---- layout ---- */

header {
  border-bottom: 3px solid #F64060;
  top: 0px;
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: -100px;
}

.event-container, .event-container-detail {
  border: 1px solid rgb(240, 240, 240);
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}

.event-description {
  flex-direction: column;
  max-height: 9.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  min-width: 0px;
}

.event-attend-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.push {
  height: 100px;
}

footer {
  border-top: 3px solid #F64060;
  height: 100px;
  width: 100%;
  background-color: #353E48;
}

.footer-container {

}

header, footer, .second-container{
  padding: 0px 15px 0px 15px;
}

.header-container, .footer-container {
  padding: 10px 0px 10px 0px;
}

/* ---- components ---- */

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-container-new {
  overflow: hidden;
  margin-bottom: 20px;
}

.btn-main {
  vertical-align: middle;
  border-radius: 4px;
  padding: 5px 15px;
  background-color: #00a2c7;
  color: white;
  border: none;
  float: right;
}

.btn-attend {
  vertical-align: middle;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px 15px;
  background-color: #F64060;
  color: white;
  border: none;
  width: 100%;
}

.btn-delete {
  vertical-align: middle;
  border-radius: 4px;
  padding: 5px 15px;
  background-color: #F64060;
  color: white;
  border: none;
}

.attend-btn-container {
  margin-bottom: 20px;
}

.image-logo {
  transform: rotateY(180deg);
  height: 50px;
  line-height: 50px;
}

.top-links {
  line-height: 50px;
}

.top-links a:first-child {
  padding-right: 10px;
}

.top-links a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  /* font-weight: bold; */
}

.wrapper-user-events {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.user-name-tag {
  margin-top: 0px; 
}

.my-events-tag {
  text-align: left;
}

.my-events {
  float: left;
}

.logout-btn{
  color: white;
  text-decoration: underline;
  font-size: 18px;
  background-color: transparent;
  border: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

form input {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 5px;
}

form textarea {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 5px;
  resize: none;
}

.signup-redirect {
  line-height: 25px;
  color: gray;
  text-decoration: none;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .second-container {
    width: 768px;
    margin: 0 auto;
  }

  .event-container-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .map-container {
    width: 400px;
  }

  .event-detail-container {
    width: 360px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .event-detail-container button {
    width: 100%;
    height: 40px;
  }

  .attendee-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}